home/.vim/backups
home/.vim/view
*un~
home/.vim/.netrwhist
home/.vim/tmp
home/.vim/spell
home/.vim/after/.vimrc.after
home/.vim/.vundles.local
home/.vim/.vundles.local.bak
home/.vim/bundle
home/.vim/sessions
.netrwhist
tags
